.grid {
    --bulma-grid-gap: 0.25rem;
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e9faff;
    color: #555;
    font-family: "宋体", "Microsoft YaHei", "微软雅黑";
}

table {
    text-align: left;
    font: 12px/120% 宋体, Verdana, Arial, sans-serif
}

table caption {
    border: 1px solid #a3bee8;
    background: #e9f1f8;
    color: #054e86;
    font-weight: 700;
    font-size: 14px;
    padding: 3px;
    margin: auto;
}

table th {
    border: 1px solid #a3bee8 !important;
    background: #f0f7ff !important;
    color: #054e86 !important;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    padding: 3px
}

table td {
    border: 1px solid #a3bee8 !important;
    background-color: #fff !important;
}


#intro {
    clear: both;
    display: block;
    overflow: hidden;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #b2b2b2;
    line-height: 180%
}


#list dt {
    overflow: hidden;
    background: none repeat scroll 0 0 #c3dfea;
    font-size: 14px;
    line-height: 28px
}

#list dd {
    float: left;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    line-height: 200%;
}

.custom-footer {
    background-color: #e9faff;

}

.custom-header {
    background-color: #88c6e5;
}

/* 上一章/下一章/加入书架 */
.custom-link-chapter {
    color: #6f78a7 !important;
    text-decoration: none;
}

.custom-link-chapter:hover {
    color: #f60 !important;
    text-decoration: underline;
}


.custom-link-list {
    color: #444;
    text-decoration: none;
}

.custom-link-list:hover {
    text-decoration: underline;
    color: #444 !important;
}

.custom-link-list:visited {
    color: #999;
}

.custom-link-list:visited:hover {
    color: #999 !important;
}


.custom-border-chapter {
    border: 3px solid #c3dfea;
    /* border-radius: 0.5rem; */
    padding: 1rem;
}

.custom-border-novel {
    border: 2px solid #88c6e5;
    /* border-radius: 0.5rem; */
    padding: 1rem;
}


.spacer {
    height: 10vh;
}



.reader_mark0 {
    width: 2rem;
    height: 2rem;
    top: 8rem;
    position: fixed;
    right: 0.5rem;
}

.reader_mark0 a {
    width: 2rem;
    height: 2rem;
    display: block;
    color: #88c6e5 !important;
}

.reader_mark1 {
    width: 2rem;
    height: 2rem;
    top: 10.5rem;
    position: fixed;
    right: 0.5rem;
}

.reader_mark1 a {
    width: 2rem;
    height: 2rem;
    display: block;
    color: #88c6e5 !important;
}

.reader_mark2 {
    width: 2rem;
    height: 2rem;
    top: 13rem;
    position: fixed;
    right: 0.5rem;
}

.reader_mark2 a {
    width: 2rem;
    height: 2rem;
    display: block;
    color: #88c6e5 !important;
}