<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title|default("网络小说阅读网站")}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar custom-header" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>网络小说阅读网站</strong>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons" id="navbar-buttons">
                    <a class="button is-light" href="/register_form.html">
                        <strong>注册</strong>
                    </a>
                    <a class="button is-light" href="/login_form.html">
                        登录
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer custom-footer">
        <div class="content has-text-centered">
            <p>
                <strong>网络小说阅读网站</strong>由<a href="https://github.com/hesic73" target="_blank">Sicheng He</a>构建，源代码遵循<a
                    href="http://opensource.org/licenses/mit-license.php">MIT协议</a>。
            </p>
        </div>
    </footer>

    <script src="/static/js/base.js"></script>

</body>

</html>