<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title|default("网络小说阅读网站")}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>

    <section class="section pb-0 pt-4">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-10-fullhd is-11-widescreen">

                    <div class="custom-header mb-4">
                        <div class="px-6 py-2" id="user-panel">
                            <a href="/login_form.html" class="custom-link-normal">登录</a>
                            <a href="/register_form.html" class="custom-link-normal">注册</a>
                        </div>
                    </div>

                    <nav class="navbar custom-nav" role="navigation" aria-label="main navigation">
                        <div class="navbar-start">
                            <a class="navbar-item custom-nav-item mx-4" href="/">
                                首页
                            </a>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </section>

    <section class="section pt-3">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-10-fullhd is-11-widescreen">

                    {% block content %}{% endblock %}

                </div>
            </div>
        </div>
    </section>

    <footer class="footer custom-footer">
        <div class="content has-text-centered">
            <p>
                <strong>网络小说阅读网站</strong>由<a href="https://github.com/hesic73" target="_blank">Sicheng He</a>构建，源代码遵循<a
                    href="http://opensource.org/licenses/mit-license.php">MIT协议</a>。
            </p>
        </div>
    </footer>

    <script src="/static/js/base.js"></script>

</body>

</html>