{% extends "base.html.jinja" %}

{% block content %}

<table class="table is-fullwidth is-striped">
    <caption id="bookshelf-title">书架</caption>
    <thead>
        <tr>
            <th>小说</th>
            <th>作者</th>
            <th>最新章节</th>
            <th>书签</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="bookshelf-table">
        <tr>
            <td colspan="5">加载中...</td>
        </tr>
    </tbody>
</table>

<div id="admin-panel"></div>

<script src="/static/js/bookshelf.js"></script>
{% endblock %}