{% extends "base.html.jinja" %}

{% block content %}
<section class="section">
    <div class="container">

        <div class="columns is-mobile is-centered">
            <div class="column is-10-fullhd is-11-widescreen">

                <div class="mb-2">
                    <a class="custom-link-chapter" href="/novel/{{ novel.id }}/">返回书页</a>
                </div>

                <div class="custom-border-novel mt-3 p-0" id="list">
                    <dt class="has-text-centered p-1">《{{novel.title}}》目录</dt>

                    {% set remainder = (4 - (chapters|length % 4)) % 4 %}
                    {% set padded_chapters = chapters + [None] * remainder %}

                    <div class="fixed-grid has-4-cols">
                        <div class="grid is-size-6">
                            {% for chapter in padded_chapters %}
                            {% if chapter%}
                            <dd class="cell"><a class="custom-link-list"
                                    href="/novel/{{ novel.id }}/{{chapter.id}}.html">{{ chapter.title }}</a></dd>
                            {% else %}
                            <dd class="cell"></dd>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="spacer"></div>

                </div>


            </div>
        </div>


    </div>
</section>
{% endblock %}