{% extends "base.html.jinja" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="mb-2">
            <a class="custom-link-chapter" href="/novel/{{ novel.id }}/">返回书页</a>
        </div>
        <h1 class="title">章节目录</h1>

        <div class="content">
            {% if chapters %}
            <div class="columns is-multiline">
                {% for chapter in chapters %}
                <div class="column is-one-quarter py-0">
                    <a class="custom-link-list" href="/novel/{{ novel.id }}/{{chapter.id}}.html">{{ chapter.title }}</a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>无对应章节。</p>
            {% endif %}
        </div>


        <!-- Pagination Controls -->
        {% if total_pages > 1 %}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if page > 1 %}
            <a class="pagination-previous" href="?page={{ page - 1 }}&page_size={{ page_size }}">上一页</a>
            {% else %}
            <a class="pagination-previous" disabled>上一页</a>
            {% endif %}

            {% if page < total_pages %} <a class="pagination-next"
                href="?page={{ page + 1 }}&page_size={{ page_size }}">下一页</a>
                {% else %}
                <a class="pagination-next" disabled>下一页</a>
                {% endif %}

                <ul class="pagination-list">
                    {% for p in range(1, total_pages + 1) %}
                    {% if p == page %}
                    <li>
                        <a class="pagination-link is-current" aria-label="Page {{ p }}" aria-current="page">{{ p }}</a>
                    </li>
                    {% elif p == 1 or p == total_pages or (p >= page - 2 and p <= page + 2) %} <li>
                        <a class="pagination-link" href="?page={{ p }}&page_size={{ page_size }}"
                            aria-label="Goto page {{ p }}">{{ p }}</a>
                        </li>
                        {% elif p == page - 3 or p == page + 3 %}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        {% endif %}
                        {% endfor %}
                </ul>
        </nav>
        {% endif %}
    </div>
</section>
{% endblock %}