{% extends "base.html.jinja" %}

{% block content %}

<div class="mb-2">
    <a class="custom-link-normal" href="/novel/{{ novel.id }}/">返回书页</a>
</div>

<div class="custom-border-novel mt-3 p-0" id="list">
    <dt class="has-text-centered p-1">《{{novel.title}}》目录</dt>

    <div class="fixed-grid has-4-cols-desktop has-3-cols-tablet has-1-cols-mobile">
        <div class="grid is-size-6" id="chapters-container">
            {% for chapter in chapters %}
            <dd class="cell"><a class="custom-link-list" href="/novel/{{ novel.id }}/{{chapter.id}}.html">{{
                    chapter.title }}</a></dd>
            {% endfor %}
        </div>
    </div>

    <div class="spacer"></div>

</div>

<div class="reader_mark0">
    <a onclick="scrollToTop()">
        <span class="icon is-medium">
            <i class="fa-solid fa-2x fa-arrow-up"></i>
        </span>
    </a>
</div>

<div class="reader_mark1">
    <a onclick="addBookmark({{ novel.id }})">
        <span class="icon is-medium">
            <i class="fa-solid fa-2x fa-bookmark"></i>
        </span>
    </a>
</div>

<div class="reader_mark2">
    <a onclick="scrollToBottom()">
        <span class="icon is-medium">
            <i class="fa-solid fa-2x fa-arrow-down"></i>
        </span>
    </a>
</div>

<script src="/static/js/pad_cells.js"></script>
{% endblock %}