{% extends "base.html.jinja" %}

{% block content %}
<section class="section">
    <div class="container">

        <div class="columns is-mobile is-centered">
            <div class="column is-8-fullhd is-9-widescreen is-10-desktop">
                <div class="custom-border">

                    <div class="breadcrumb has-succeeds-separator mb-2" aria-label="breadcrumbs">
                        <ul>
                            <li><a class="custom-link-chapter px-0" href="/">网络小说阅读网站</a></li>
                            <li><a class="custom-link-chapter px-0" href="/novel/{{ novel.id }}/">{{novel.title}}</a>
                            </li>
                            <li class="is-active"><span>{{chapter.title}}</span></li>
                        </ul>
                    </div>

                    <h1 class="title has-text-centered mt-2">{{ chapter.title }}</h1>

                    <div class="is-size-6 has-text-centered mb-4">
                        {% if previous_chapter %}
                        <a id="previous-chapter" class="custom-link-chapter"
                            href="/novel/{{ novel.id }}/{{ previous_chapter.id }}.html">上一章</a>
                        {% else %}
                        <a class="custom-link-chapter" disabled>上一章</a>
                        {% endif %}
                        <a class="custom-link-chapter" href="/novel/{{ novel.id }}/chapters/">返回目录</a>
                        <a class="custom-link-chapter" onclick="addBookmark({{ novel.id }}, {{ chapter.id }})">加入书签</a>
                        {% if next_chapter %}
                        <a id="next-chapter" class="custom-link-chapter"
                            href="/novel/{{ novel.id }}/{{ next_chapter.id }}.html">下一章</a>
                        {% else %}
                        <a class="custom-link-chapter" disabled>下一章</a>
                        {% endif %}
                    </div>

                    <div class="content is-size-4">
                        <p>{{ chapter.content | safe }}</p>
                    </div>


                    <div class="is-size-5 has-text-centered mb-4">
                        {% if previous_chapter %}
                        <a id="previous-chapter" class="custom-link-chapter"
                            href="/novel/{{ novel.id }}/{{ previous_chapter.id }}.html">上一章</a>
                        {% else %}
                        <a class="custom-link-chapter" disabled>上一章</a>
                        {% endif %}
                        <a class="custom-link-chapter" href="/novel/{{ novel.id }}/chapters/">章节目录</a>
                        {% if next_chapter %}
                        <a id="next-chapter" class="custom-link-chapter"
                            href="/novel/{{ novel.id }}/{{ next_chapter.id }}.html">下一章</a>
                        {% else %}
                        <a class="custom-link-chapter" disabled>下一章</a>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>
<script src="/static/js/chapter.js"></script>
<script src="/static/js/common.js"></script>
{% endblock %}