{% extends "base.html.jinja" %}

{% block content %}

<div class="custom-border-chapter">

    <div class="breadcrumb has-succeeds-separator mb-2" aria-label="breadcrumbs">
        <ul>
            <li><a class="custom-link-normal px-0" href="/">网络小说阅读网站</a></li>
            <li><a class="custom-link-normal px-0" href="/novel/{{ novel.id }}/">{{novel.title}}</a>
            </li>
            <li class="is-active"><span>{{chapter.title}}</span></li>
        </ul>
    </div>

    <h1 class="title has-text-centered mt-2">{{ chapter.title }}</h1>

    <div class="is-size-6 has-text-centered mb-4">
        {% if previous_chapter %}
        <a id="previous-chapter" class="custom-link-normal"
            href="/novel/{{ novel.id }}/{{ previous_chapter.id }}.html">上一章</a>
        {% else %}
        <a class="custom-link-normal" disabled>上一章</a>
        {% endif %}
        <a class="custom-link-normal" href="/novel/{{ novel.id }}/chapters/#{{chapter.id}}">返回目录</a>
        <a class="custom-link-normal" onclick="addBookmark({{ novel.id }}, {{ chapter.id }})">加入书签</a>
        {% if next_chapter %}
        <a id="next-chapter" class="custom-link-normal" href="/novel/{{ novel.id }}/{{ next_chapter.id }}.html">下一章</a>
        {% else %}
        <a class="custom-link-normal" disabled>下一章</a>
        {% endif %}
    </div>

    <div class="content is-size-4">
        <p>{{ chapter.content | safe }}</p>
    </div>


    <div class="is-size-5 has-text-centered mb-4">
        {% if previous_chapter %}
        <a id="previous-chapter" class="custom-link-normal"
            href="/novel/{{ novel.id }}/{{ previous_chapter.id }}.html">上一章</a>
        {% else %}
        <a class="custom-link-normal" disabled>上一章</a>
        {% endif %}
        <a class="custom-link-normal" href="/novel/{{ novel.id }}/chapters/">章节目录</a>
        {% if next_chapter %}
        <a id="next-chapter" class="custom-link-normal" href="/novel/{{ novel.id }}/{{ next_chapter.id }}.html">下一章</a>
        {% else %}
        <a class="custom-link-normal" disabled>下一章</a>
        {% endif %}
    </div>

</div>

<div class="reader_mark0">
    <a onclick="scrollToTop()">
        <span class="icon is-medium">
            <i class="fa-solid fa-2x fa-arrow-up"></i>
        </span>
    </a>
</div>

<div class="reader_mark1">
    <a onclick="addBookmark({{ novel.id }}, {{ chapter.id }})">
        <span class="icon is-medium">
            <i class="fa-solid fa-2x fa-bookmark"></i>
        </span>
    </a>
</div>

<div class="reader_mark2">
    <a onclick="scrollToBottom()">
        <span class="icon is-medium">
            <i class="fa-solid fa-2x fa-arrow-down"></i>
        </span>
    </a>
</div>
<script src="/static/js/chapter.js"></script>
{% endblock %}