{% extends "base.html.jinja" %}

{% block content %}

<div class="notification is-danger">
    <h1 class="title">Error: {{ title }}</h1>
    {% if message%}
    <p>{{ message }}</p>
    {% endif %}
</div>

{% endblock %}