{% extends "base.html.jinja" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <!-- Genre filter -->
            <div class="column is-one-quarter">
                <aside class="menu">
                    <p class="menu-label">
                        分类
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active">全部</a></li>
                    </ul>
                </aside>
            </div>

            <div class="column">
                <ul>
                    {% for novel in novels %}
                    <li>
                        <a href="/novel/{{ novel.id }}/" style="color: inherit; text-decoration: none;">
                            <strong>{{ novel.title }}</strong> </a> - {{ novel.author_name }} | {{ novel.genre.value
                        }}

                    </li>
                    {% endfor %}
                </ul>

                <!-- Pagination controls -->
                <nav class="pagination" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" {% if page <=1 %}disabled{% else
                        %}href="/?page={{ page - 1 }}&page_size={{ page_size }}" {% endif %}>Previous</a>
                    <a class="pagination-next" {% if page>= total_pages %}disabled{% else %}href="/?page={{ page + 1
                        }}&page_size={{ page_size }}"{% endif %}>Next</a>
                    <ul class="pagination-list">
                        {% for p in range(1, total_pages + 1) %}
                        <li>
                            <a class="pagination-link {% if p == page %}is-current{% endif %}"
                                href="/?page={{ p }}&page_size={{ page_size }}">{{ p }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{%endblock%}