<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>网络小说阅读网站 - {{ novel.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>网络小说阅读网站</strong>
            </a>
        </div>
    </nav>

    <!-- Novel details section -->
    <section class="section">
        <div class="container">
            <div class="box">
                <div class="content">
                    <p><span class="is-size-3 has-text-weight-bold">{{ novel.title }}</span>&nbsp;&nbsp;<span>{{
                            novel.author_name
                            }}</span></p>
                    <p class="tag">{{ novel.genre.value }}</p>
                    <p>{{ novel.description }}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Chapters section -->
    <section class="section">
        <div class="container">
            <h2 class="title">章节</h2>
            <div class="columns is-multiline">
                {% for chapter in chapters %}
                <div class="column is-one-third">
                    <p><strong>{{ chapter.title }}</strong></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "footer.html" %}
</body>

</html>