{% extends "base.html.jinja" %}
{% block content %}
<!-- Novel details section -->
<section class="section">
    <div class="container">
        <div class="box">
            <div class="content">
                <p><span class="is-size-3 has-text-weight-bold">{{ novel.title }}</span>&nbsp;&nbsp;<span>{{
                        novel.author_name }}</span></p>
                <p class="tag">{{ novel.genre.value }}</p>
                <p>{{ novel.description | nl2br | safe }}</p>
                <!-- Buttons section -->
                <div class="buttons">
                    <a href="/chapters_{{novel.id}}/" class="button is-primary is-large">章节目录</a>
                    {% if first_chapter %}
                    <a href="/chapter/{{first_chapter.id}}/" class="button is-link is-large">开始阅读</a>
                    {% else %}
                    <span class="button is-link is-large" disabled>开始阅读</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}