{% extends "base.html.jinja" %}

{% block content %}

<ul id="novel_list">
    <h1 class="m-0 py-1 has-text-weight-bold">小说列表</h1>
    {% for novel in novels %}
    <li class="pt-1">
        <span class="s1">{{ novel.genre.value
            }}</span>

        <span class="s2"><a href="/novel/{{ novel.id }}/" class="custom-link-normal">
                {{ novel.title }} </a></span>

        <span class="s3"><a href="/author/{{novel.author.id}}/" class="custom-link-normal">{{
                novel.author.name }}</a></span>


    </li>
    {% endfor %}
</ul>

<!-- Pagination controls -->
<nav class="pagination mt-2 is-rounded" role="navigation" aria-label="pagination">
    {% if page <= 1 %} <a class="pagination-previous" disabled><span class="icon">
            <i class="fa-solid fa-angle-left"></i>
        </span></a>
        {% else %}
        <a class="pagination-previous" href="/novels/?page={{ page - 1 }}&page_size={{ page_size }}"><span class="icon">
                <i class="fa-solid fa-angle-left"></i>
            </span></a>
        {% endif %}

        {% if page >= total_pages %}
        <a class="pagination-next" disabled><span class="icon">
                <i class="fa-solid fa-angle-right"></i>
            </span></a>
        {% else %}
        <a class="pagination-next" href="/novels/?page={{ page + 1 }}&page_size={{ page_size }}"><span class="icon">
                <i class="fa-solid fa-angle-right"></i>
            </span></a>
        {% endif %}

        <ul class="pagination-list">
            {% if total_pages <= 7 %} {% for p in range(1, total_pages + 1) %} <li>
                <a class="pagination-link {% if p == page %}is-current{% endif %}"
                    href="/novels/?page={{ p }}&page_size={{ page_size }}">{{ p }}</a>
                </li>
                {% endfor %}
                {% else %}
                <li>
                    <a class="pagination-link {% if page == 1 %}is-current{% endif %}"
                        href="/novels/?page=1&page_size={{ page_size }}">1</a>
                </li>
                {% if page > 4 %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                {% for p in range([2, page - 2]|max, [total_pages, page + 2]|min + 1) %}
                <li>
                    <a class="pagination-link {% if p == page %}is-current{% endif %}"
                        href="/novels/?page={{ p }}&page_size={{ page_size }}">{{ p }}</a>
                </li>
                {% endfor %}
                {% if page < total_pages - 3 %} <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% endif %}
                    {% if page + 2 < total_pages %} <li>
                        <a class="pagination-link {% if page == total_pages %}is-current{% endif %}"
                            href="/novels/?page={{ total_pages }}&page_size={{ page_size }}">{{ total_pages }}</a>
                        </li>
                        {% endif %}
                        {% endif %}
        </ul>
</nav>





{%endblock%}