{% extends "base.html.jinja" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Scrape Novel</h1>
        <form id="scrape-form">
            <div class="field">
                <label class="label" for="url">Novel URL</label>
                <div class="control">
                    <input class="input" type="url" id="url" name="url" placeholder="Enter the novel URL" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="source">Source</label>
                <div class="control">
                    <div class="select">
                        <select id="source" name="source" required>
                            <option value="" disabled selected>Select the source</option>
                            {% for source in sources %}
                            <option value="{{ source.value }}">{{ source.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="genre">Genre</label>
                <div class="control">
                    <div class="select">
                        <select id="genre" name="genre" required>
                            <option value="" disabled selected>Select the genre</option>
                            {% for genre in genres %}
                            <option value="{{ genre.value }}">{{ genre.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Start Scraping</button>
                </div>
            </div>
        </form>

        <div id="message" class="notification is-hidden"></div>
    </div>
</section>

<script src="static/js/scrape_form.js"></script>

{% endblock %}