{% extends "base.html.jinja" %}
{% block content %}




<div class="custom-border-novel" style="max-width: 400px; margin: 0 auto;">
    <h1 class="title">登录</h1>
    <div id="notification" class="notification is-hidden"></div>
    <form id="loginForm">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="email" id="email" placeholder="电子邮箱">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" id="password" placeholder="密码">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>


        <div class="field">
            <div class="control">
                <button class="button" type="button" onclick="loginUser()">登录</button>
            </div>
        </div>
    </form>
</div>



<script src="/static/js/login_form.js"></script>
{% endblock %}