{% extends "base.html.jinja" %}
{% block content %}





<div class="custom-border-novel mt-3" style="max-width: 400px; margin: 0 auto;">
    <h1 class="title">注册</h1>
    <div id="notification" class="notification is-hidden"></div>
    <form id="registerForm">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" id="username" placeholder="用户名">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="email" id="email" placeholder="电子邮箱">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" id="password" placeholder="密码">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <div class="control">
                <button class="button" type="button" onclick="registerUser()">注册</button>
            </div>
        </div>
    </form>

</div>
<script src="/static/js/register_form.js"></script>
{% endblock %}